.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div_Home_Content {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
}

.div_header {
  padding-bottom: 5em;
}

.div_patient_reg_form {
  /* padding-top: 5em; */
  /* padding-bottom: 5em; */
  padding-right: 5em;
  padding-left: 10em;
}

.div_userLogin_form {
  /* padding-top: 5em; */
  padding-bottom: 5em;
  padding-right: 5em;
  padding-left: 5em;
}

.div_countryStat{
  padding-top: 7em;
  padding-bottom: 5em;
  padding-right: 3em;
  padding-left: 5em;
}

.div_DistrictStat{
  padding-right: 5em;
  padding-left: 5em;
}

.div_dailyStat{
  padding-top: 6em;
  padding-bottom: 5em;
  padding-right: 3em;
  padding-left: 5em;
}

.div_image{
  padding-top: 15em;
  margin-left: 1em;
  margin-right: 5em;
}
